.ActionList {
  display: flex;
  min-height: 80px;
  justify-content: space-around;
  border-radius: 20px;
  background: #cce1fc;
  box-shadow: 10px 10px 20px #8f9eb0, -10px -10px 20px #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: column;
}

.ButtonList {
  display: flex;
  justify-content: space-around;
}
